<mat-toolbar color="primary">
  <span><mat-icon>gavel</mat-icon>&nbsp;{{ title }}</span>
  <span class="spacer"></span>
  <button mat-mini-fab (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<mat-list>
  <ng-container *ngFor="let snipe of snipes">
    <mat-list-item *ngIf="snipe.auction">
      <img matListAvatar [src]="snipe.auction.thumbnailUrl" [alt]="snipe.auction.title">
      <h3 matLine><a [href]="'https://www.ebay.com/itm/' + snipe.auctionId">{{ snipe.auction.title }}</a> - {{ snipe.description }}</h3>
      <span matLine>{{ snipe.auction.seller.id }} ({{ snipe.auction.seller.feedback }} - {{ snipe.auction.seller.positivePercentage }}%)</span>
      <span matLine>
        {{ snipe.auction.currentBid | currency }}
        <span *ngIf="snipe.auction.shippingCost > 0"> + {{ snipe.auction.shippingCost | currency }}</span>
      </span>
      <span matLine>{{ snipe.bid | currency }} on {{ snipe.snipeTime | date:'medium' }}</span>
      <span matLine *ngIf="snipe.bid < snipe.auction.currentBid">Bid is smaller than Current Bid!</span>
      <button mat-mini-fab color="warn" (click)="delete(snipe)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </ng-container>
</mat-list>